[submodule ".config/kitty/kitty-themes"]
	path = .config/kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes.git/
[submodule ".vim/pack/plugins/start/vim-gitgutter"]
	path = .vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/pack/plugins/start/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/plugins/start/vim-airline-themes"]
	path = .vim/pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".config/kitty/kitty-alternative-icon"]
	path = .config/kitty/kitty-alternative-icon
	url = https://github.com/hristost/kitty-alternative-icon.git
	branch = main
[submodule ".vim/pack/plugins/start/vim-jsonnet"]
	path = .vim/pack/plugins/start/vim-jsonnet
	url = https://github.com/google/vim-jsonnet.git
[submodule ".vim/pack/plugins/start/vim-hcl"]
	path = .vim/pack/plugins/start/vim-hcl
	url = https://github.com/jvirtanen/vim-hcl.git
