[submodule ".config/kitty/kitty-themes"]
	path = .config/kitty/kitty-themes
	url = http://github.com/dexpota/kitty-themes.git
[submodule ".vim/pack/plugins/start/vim-gitgutter"]
	path = .vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/pack/plugins/start/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/plugins/start/vim-airline-themes"]
	path = .vim/pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".local/share/framework"]
	path = .local/share/framework
	url = https://github.com/jdbeightol/framework.git
	branch = main
[submodule ".local/share/secret"]
	path = .local/share/secret
	url = http://callisto.jupiter.sol:3000/jdbeightol/secret.git
